 <form>
    <div class="col-3">
                                    <label for="ident_campublic">Identificación</label>
                                   <input type="text" name="ident_campublic" class="form-control">
                                 </div>
    
                                <div class="col-3">
                                <label for="resp_campublic">Responsable</label>
                                  <input type="text" name="resp_campublic" class="form-control">
                                </div>
                                
                               
                                <div class="col-4">
                                   <label for="dato_campublic">Dato</label>
                                  <input type="text" name="dato_campublic" class="form-control" >
                                </div>
    
</form>