<h1>HOLA {{camsacfi}}</h1>
 
 {{#if camsacfi}}
<h1>hola</h1>
<div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Identificación</th>
      <th scope="col">Responsable</th>
      <th scope="col">Dato</th>
    </tr>
  </thead>
  <tbody>
    {{#each camsacfi}}
    
    <tr>
      <th scope="row">1</th>
      <td>{{data.id}}</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    {{/each}}
    
  </tbody>
</table>
</div>

 {{/if}}