  {{console.log(get.data)}}
 {{#if data}}

<div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Identificación</th>
      <th scope="col">Responsable</th>
      <th scope="col">Dato</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr>
      <th scope="row">1</th>
      <td>{{data.id}}</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    {{/each}}
    
  </tbody>
</table>
</div>

 {{/if}}