 <form>
 <div class="col-3">
                <label for="ident_camsacfi">Identificación</label>
                <input type="text" name="ident_camsacfi" class="form-control">
 </div>
 <div class="col-3">
            <label for="resp_camsacfi">Responsable</label>
                <input type="text" name="resp_camsacfi" class="form-control">
</div>
            
            
<div class="col-4">
                <label for="dato_camsacfi">Dato</label>
 <input type="text" name="dato_camsacfi" class="form-control" >
</div>

<button type="button" class="btn btn-primary btn-sm">+</button>

</form>