{{#each camsacfi}}
<div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Identificación</th>
      <th scope="col">Responsable</th>
      <th scope="col">Dato</th>
    </tr>
  </thead>
  <tbody>
  
    <tr>
      <th scope="row">1</th>
      <td>{{camsacfi.id}}</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
   
    
  </tbody>
</table>
</div>
{{else}}
pico
 {{/each}}

